@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1488CC, #2B32B2);
}
.loginCard{
  width: 380px;
  height: 440px;
  background-color: #F3F0F0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.loginCardImg{
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inputField{
  height: 40px;
  width: 280px;
  font-size: 14px;
  padding-left: 20px;
  border: 2px solid #1488CC;
  border-radius: 10px;
  background: none;
  font-weight: 300;
  color: blue;
  margin-top: 10px;
  
}
.buttonOne{
  margin-top: 30px;
  height: 40px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #1488CC, #2B32B2);
  /* background: linear-gradient(#1488CC, #2B32B2 50%, #eee 100%) */
}
.buttonTwo{
  margin-top: 15vh;
  height: 80px;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #1488CC, #2B32B2);
  /* background: linear-gradient(#1488CC, #2B32B2 50%, #eee 100%) */
}
.buttonTwo:hover{
  cursor: pointer;
  background: linear-gradient(to right, #0c80c4, #212683);
}



.courses{
  width: 80vw;
  height: 80vh;
  background-color: #F3F0F0;
  border-radius: 20px;
  padding: 50px;
}
.courses h1{
  color: black;
  font-family: sans-serif;
}
.grid{
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
.course{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-radius: 10px;
}

.course img{
  width: 60px;
  height: auto;
  padding-right: 15px;
}
.courseTitle{
  font-family: 'Montserrat', sans-serif;
}
.courseTitle h3{
  color: black;
  font-weight: 400;
}
.courseTitle span{
  color: black;
  font-weight: 200;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: sans-serif;
  height: 10vh;
  border: 1px solid white;
}

.header img{
  width: auto;
  height: 60px;

}
.header span{
  font-size: 2rem;
}
.exambody{
  /* margin-top: 20px; */
  width: 100%;
  background-color: #E5E5E5;
  height: 80vh;
  border-radius: 20px;
  padding: 50px;
}

.examQuestion{
  /* width: 100%; */
	background-color: #fafafa; /*#E5E5E5*/
  width: 94%; 
  /* Figure the issue with width */
	color: black;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 1.7px solid #e0dfff;
  font-family: 'Montserrat', sans-serif;

}
.examQuestion h2{
  font-size: 1.3rem;
  margin-block: 15px;
  font-family: 'Montserrat', sans-serif;
  /* color: black; */
}

/* input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
} */


.radio[type=radio i] {
  accent-color: #fff;
}

.nextBtn {
  border-radius: 8px;
  border: none;
  background-color: #028d1c;
  color: white;
  margin: 0 20px;
  padding: 15px 25px;
  cursor: pointer;
  margin-inline: 20px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.prevBtn{
  border-radius: 8px;
  border: 1.7px solid #e0dfff;
  background-color: #ecf2f6;
  color: #000;
  padding: 15px 25px;
  cursor: pointer;
  margin-inline: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.subBtn{
  border-radius: 5px;
  border: none;
  background-color: rgb(237, 1, 1);
  color: white; 
  margin: 0 20px;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.progress_box{
	display: flex;
	/* flex-direction: column; */
	/* align-items: flex-end; */
	/* padding: 20px; */
	/* position: absolute; */
	/* width: 892px; */
	/* height: 120px; */
	/* left: 250px; */
	/* top: 430px; */
}

.progress_title{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 12px;
	gap: 12px;
	width: 226px;
	height: 40px;
	background: #3F3F3F;
	border-radius: 4px 4px 0px 0px;
	width: 202px;
	height: 24px;
	font-family: Satoshi;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #F6F6F6;
}

.progress_content{
	 margin-top: 10px;
	/* border: 1px solid #D9D9D9; */
	border-radius: 8px 0px 8px 8px;
}

.progress_row{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	/* width: 80vw; */
	height: 32px;
  font-family: 'Montserrat', sans-serif;
}

.progress_num{
  cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px;
	gap: 10px;
  font-size: 18px;
	width: 28px;
	height: 28px;
	background: #1488CC;
	border-radius: 4px;
  color: white;
}





.wipe_button{
  background-color: red;
}


/* Home.module.css */
.dataTable {
  width: 100%;
  border-collapse: collapse; /* This ensures that borders collapse into a single border between cells */
}

.dataTable th, .dataTable td {
  border: 1px solid #ddd; /* Add a 1px solid border to table cells */
  padding: 8px; /* Add some padding for better visual appearance */
  text-align: left;
}

.dataTable th {
  background-color: #f2f2f2; /* Add a background color to header cells for better visibility */
}

