.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1488CC, #2B32B2);
}
.loginCard{
  width: 380px;
  height: 440px;
  background-color: #F3F0F0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.loginCardImg{
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inputField{
  height: 40px;
  width: 280px;
  font-size: 14px;
  padding-left: 20px;
  border: 2px solid #1488CC;
  border-radius: 10px;
  background: none;
  font-weight: 300;
  color: blue;
  margin-top: 10px;
  
}
.buttonOne{
  margin-top: 30px;
  height: 40px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #1488CC, #2B32B2);
  /* background: linear-gradient(#1488CC, #2B32B2 50%, #eee 100%) */
}
.buttonTwo{
  margin-top: 15vh;
  height: 80px;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #1488CC, #2B32B2);
  /* background: linear-gradient(#1488CC, #2B32B2 50%, #eee 100%) */
}
.buttonTwo:hover{
  cursor: pointer;
  background: linear-gradient(to right, #0c80c4, #212683);
}



.courses{
  width: 80vw;
  height: 80vh;
  background-color: #F3F0F0;
  border-radius: 20px;
  padding: 50px;
}
.courses h1{
  color: black;
  font-family: sans-serif;
}
.grid{
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
.course{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-radius: 10px;
}

.course img{
  width: 60px;
  height: auto;
  padding-right: 15px;
}
.courseTitle{
  font-family: sans-serif;
}
.courseTitle h3{
  color: black;
  font-weight: 400;
}
.courseTitle span{
  color: black;
  font-weight: 200;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: sans-serif;
  height: 10vh;
  border: 1px solid white;
}

.header img{
  width: auto;
  height: 60px;

}
.header span{
  font-size: 2rem;
}
.exambody{
  /* margin-top: 20px; */
  width: 100%;
  background-color: #E5E5E5;
  height: 80vh;
  border-radius: 20px;
  padding: 50px;
}

.examQuestion{
  font-family: sans-serif;

}
.examQuestion h2{
  font-size: 1.5rem;
  /* color: black; */
}
.examQuestion li{
  font-size: 1rem;
  padding: 5px 10px;
  border: 2px solid black;
  width: 300px;
  height: 38px;
  margin: 5px 0;
  display: flex;
  border-radius: 5px;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
}
.ques{
  color:white;
}
.nextBtn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: #65CF63;
  color: white;
  margin: 0 20px;
}

.prevBtn{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: #1488CC;
  color: white;
}
.subBtn{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white; 
  margin: 0 20px;
}

.progress_box{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px;
	position: absolute;
	width: 892px;
	height: 120px;
	left: 250px;
	top: 430px;
}

.progress_title{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 12px;
	gap: 12px;
	width: 226px;
	height: 40px;
	background: #3F3F3F;
	border-radius: 4px 4px 0px 0px;
	width: 202px;
	height: 24px;
	font-family: Satoshi;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #F6F6F6;
}

.progress_content{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
  align-content: center;
  justify-content: center;
  /* margin: auto; */
	padding: 20px;
	gap: 12px;
	width: 80vw;
  margin: 0;
  padding-top: 0;
	height: 160px;
	/* border: 1px solid #D9D9D9; */
	border-radius: 8px 0px 8px 8px;
}

.progress_row{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	width: 80vw;
	height: 32px;
  font-family: sans-serif;
}

.progress_num{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px;
	gap: 10px;
	width: 32px;
	height: 32px;
	background: #1488CC;
	border-radius: 4px;
  color: white;
}





.wipe_button{
  background-color: red;
}


/* Home.module.css */
.dataTable {
  width: 100%;
  border-collapse: collapse; /* This ensures that borders collapse into a single border between cells */
}

.dataTable th, .dataTable td {
  border: 1px solid #ddd; /* Add a 1px solid border to table cells */
  padding: 8px; /* Add some padding for better visual appearance */
  text-align: left;
}

.dataTable th {
  background-color: #f2f2f2; /* Add a background color to header cells for better visibility */
}

