/** RCF E-TRIAL QUIZ APP STYLESHEET**/
.body{
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	zoom: 88%;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 0px;
	gap: 700px;
	width: auto;
	height: 51px;
	margin-left:210px;
	right: 150px;
	top: 20px;
	/* background-color: red; */
}

.ImgCircle{	
	width: 48px;
	height: 48px;
	background: #D9D9D9;
	border-radius:50%;
}

.user_info{
	display: flex;
	flex-direction: row;
	gap:10px;
	padding: 10px;
	width: 400px;
	height: 46px;
	padding:10px;
	/* background-color:#7c2e2e;
	color:white; */
}

.userid{
	width: 46px;
	height: 19px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1B1B1B;
}

.user{
	width: 105px;
	height: 27px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #1B1B1B;
}

.instruction{
	position: absolute;
	width: 324px;
	height: 36px;
	left: 220px;
	top: 55px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #1B1B1B;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	padding: 0px;
	position: absolute;
	width: 1040px;
	height: 614px;
	left: calc(50% - 1040px/2);
	top: 140px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 48px;
	padding: 0px;
	width: 1040px;
	height: 178px;
}

.col{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	padding: 16px;
	gap: 12px;
	width: 496px;
	height: 178px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

.course_icon{	
	width: 48px;
	height: 48px;
	background: #D9D9D9;
	border-radius:50%;
}

.right{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	padding: 0px;
	width: 334px;
	height: 86px;
}

.course_name{
	width: 136px;
	height: 30px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 30px;
	color: #1B1B1B;
}
.ctitle{
	font-size: 25px;;
}
.StartQuiz_btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	width: 71px;
	height: 24px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 12px;
	width: 104px;
	height: 48px;
	background: #1488CC;
	border-radius: 4px;
	border: none;
}

.StartQuiz_btn:hover{
	background: red;
}

.Logout{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	width: 71px;
	height: 24px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 12px;
	width: 90px;
	height: 30px;
	background: red;
	border-radius: 4px;
	border: none;
}
/**Login page**/
.login_bg{
	/* position: relative; */
	width: 100%;
	height: 670px;
	background: #1488CC;
}
.footer{
	/* background-color: red; */
	color:white;
	position:absolute;
	margin-top: 600px;
	text-align: center;
	margin-left:40%;
	margin-right:40%;
}

.genfooter{
	/* background-color: red; */
	color:rgb(27, 20, 20);
	/* position:absolute; */
	/* margin-top: 600px; */
	text-align: center;
	/* margin-left: 600px; */
	margin:0 auto;
}

.login_frame{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	/* gap: 15px; */
	padding: 20px 30px;
	position: absolute;
	width: 350px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border-radius: 8px;
	justify-content: center;
	padding-bottom: 50px;
}

.login_logo{
	width: 80px;
	height: auto;
	top: 10%;
	left: 50%;
	margin:0px auto;
}

.frame20{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	width: 312px;
	height: 66px;
}

.frame8{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 400px;
	height: 172px;
}

.frame4{
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 450px;
	height: 74px;
}

.input{
	display: flex;
	flex-direction:column;
	width: 80%;
	height: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	padding-left: 20px;
}

.frame7{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 94px;
}

.loginbtn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 13px 12px;
	gap: 10px;
	width: 385px;
	height: 48px;
	background: #1488CC;
	border-radius: 4px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FDFEFF;
	margin-top: 30px;
	border: none;
}

.loginbtn2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 13px 12px;
	gap: 10px;
	width: 350px;
	height: 48px;
	background: white;
	border-radius: 4px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.congframe{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	position: absolute;
	width: 400px;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #F5F5F5;
	border-radius: 8px;
}

.scoreframe{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	gap: 24px;
	position: absolute;
	width: 400px;
	height: 500px;
	left: calc(50% - 400px/2);
	top: 20%;
	background:  #F6F6F6;;
	border-radius: 4px;
}

/**Start Quiz**/
.timer{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #1488CC;
	border-radius: 4px;
	width: 110px;
	height: 36px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #1B1B1B;
}

.questions{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	padding: 0px;
	position: absolute;
	width: 181px;
	height: 254px;
	left: 20px;
	top: 5px;
}

.options{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 8px;
	width: 500px;
	height: 40px;
	background: #FFFBFB;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

#selected_option{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	gap: 12px;
	width: 171px;
	height: 40px;
	background: #1488CC;
	border-radius: 4px;
}

.pre_next{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	position: absolute;
	width: 184px;
	height: 48px;
	left: 200px;
	top: 450px;
}

.previousbtn{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;
	gap: 12px;
	width: 84px;
	height: 48px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

.nextbtn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px;
	gap: 12px;
	width: 84px;
	height: 48px;
	background: #1488CC;
	border-radius: 4px;
}
.exambody{
	/* margin-top: 20px; */
	width: 100%;
	background-color: #7c2e2e; /*#E5E5E5*/
	height: 400px;
	border-radius: 20px;
	padding: 10px 50px;
  }
  
  .examQuestion{
	font-family: sans-serif;
  }
  .examQuestion h2{
	font-size: 12px;
	color: black;
  }
  .examQuestion li{
	font-size: 1rem;
	padding: 5px 10px;
	border: 2px solid black;
	width: 300px;
	height: 38px;
	margin: 5px 0;
	display: flex;
	border-radius: 5px;
	/* justify-content: center; */
	align-items: center;
	color: black;
	background-color: white;
  }
  
  .nextBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: #65CF63;
	color: white;
	margin: 0 20px;
  }
  
  .prevBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: #1488CC;
	color: white;
  }
  .subBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: red;
	color: white; 
	margin: 0 20px;
  }