/** RCF E-TRIAL QUIZ APP STYLESHEET**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.body{
	width: 100%;
	/* min-height: 100vh; */
	margin: 0 !important;
	padding: 0;
	font-family: 'Source Sans 3', sans-serif;
	/* background: #FFFFFF; */
	/* zoom: 100%; */
}
.body > * {
	transition: all .3s ease-in-out
}

.congrats {
	width: 100%;
	/* min-height: 100vh; */
	margin: 0 !important;
	padding: 0;
	font-family: sans-serif;
	background: #0000006c;
	min-height: 100vh;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 700px;
	width: auto;
	height: 51px;
	padding-top: 8px;
	margin-left:210px;
	right: 150px;
	top: 20px;
	/* background-color: red; */
}
.congHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 10px;
}

.ImgCircle{	
	width: 48px;
	height: 48px;
	background: #D9D9D9;
	border-radius:50%;
}

.user_info{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:10px;
	padding: 10px;
	width: 400px;
	height: 46px;
	padding:10px;
	/* background-color:#7c2e2e;
	color:white; */
}

.userid{
	width: 46px;
	height: 19px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1B1B1B;
}

.user{
	width: 105px;
	height: 27px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #1B1B1B;
}

.instruction{
	font-family: 'Source Sans 3', sans-serif;
	/* position: absolute; */
	/* text-align: center; */
	/* margin-left: 50px; */
	/* width: 324px; */
	/* height: 36px; */
	/* left: 220px; */
	/* top: 55px; */
	/* font-family: sans-serif; */
	/* font-style: normal; */
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #1B1B1B;
}

.quizContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
}


.container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* gap: 40px; */
	/* padding: 0px; */
	/* position: absolute; */
	width: 1040px;
	/* height: 614px; */
	/* left: calc(50% - 1040px/2); */
	/* top: 140px; */
}

.row {
	display: flex;
	flex-direction: row;
	gap: 48px;
	padding: 0px;
	width: 1040px;
	height: 178px;
}

.col{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	padding: 16px;
	gap: 12px;
	width: 496px;
	height: 178px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

.course_icon{	
	width: 48px;
	height: 48px;
	background: #D9D9D9;
	border-radius:50%;
}

.right{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	padding: 0px;
	width: 334px;
	height: 86px;
}
.input::placeholder {
	font-size: 14px;
}

.course_name{
	width: 136px;
	height: 30px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 30px;
	color: #1B1B1B;
}

.StartQuiz_btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	/* width: 150px; */
	/* height: 24px; */
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	/* padding: 12px; */
	/* width: 104px; */
	/* height: 48px; */
	background: #1488CC;
	padding-inline: 40px;
	padding-block: 13px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: all .2s ease-in-out;
}


.StartQuiz_btn:hover{
	background: red;
}

.Logout{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	width: 71px;
	height: 24px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 12px;
	width: 90px;
	height: 30px;
	background: red;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
/**Login page**/
.login_bg{
	/* position: relative; */
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background: #1488CC;
}
.footer{
	/* background-color: red; */
	color:white;
	position:absolute;
	text-align: center;
	font-size: 15px;
	bottom: 10px;
	left: 0; 
	right:0;
}

.genfooter{
	/* background-color: red; */
	color:rgb(27, 20, 20);
	/* position:absolute; */
	/* margin-top: 600px; */
	text-align: center;
	/* margin-left: 600px; */
	margin:0 auto;
}

.login_frame{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	/* gap: 15px; */
	padding: 20px 30px;
	position: absolute;
	width: 365px;
	height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border-radius: 8px;
	justify-content: center;
	padding-bottom: 50px;
}

.login_logo{
	width: 80px;
	height: auto;
	top: 10%;
	left: 50%;
	margin:0px auto;
}

.frame20{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	width: 312px;
	height: 66px;
}

.frame8{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 400px;
	height: 172px;
}

.frame4{
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 450px;
	height: 74px;
}

.input{
	display: flex;
	flex-direction:column;
	width: 80%;
	height: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	outline: 0;
	margin-top: 8px;
	padding-left: 20px;
	transition: all 0.3s ease-in-out;
}

.select {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 85%;
	margin-top: 8px;
	height: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	/* line-height: 22px; */
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	outline: 0;
	transition: all 0.3s ease-in-out;
}
.select:focus, .input:focus {
	border: 1px solid #1488CC;
}


.option {
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frame7{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 94px;
}

.loginbtn{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 13px 12px;
	gap: 10px;
	width: 385px;
	height: 48px;
	background: #1488CC;
	border-radius: 4px;
	/* font-family: sans-serif; */
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #FDFEFF;
	margin-top: 30px;
	border: none;
	transition: all .2s ease-in-out
}
.loginbtn:hover {
	background: #127ab7;
}

.loginbtn2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 13px 12px;
	gap: 10px;
	width: 350px;
	height: 48px;
	background: white;
	border-radius: 4px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.congframe{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	position: absolute;
	width: 400px;
	/* height: 300px; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #F5F5F5;
	border-radius: 8px;
}

.scoreframe{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	gap: 24px;
	position: absolute;
	width: 400px;
	height: 500px;
	left: calc(50% - 400px/2);
	top: 20%;
	background:  #F6F6F6;;
	border-radius: 4px;
}

/**Start Quiz**/
.timer{
	font-family: 'Source Sans 3', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fafafa;
	padding-block: 10px;
	padding-inline: 6px;
	border: 1.7px solid #ececfc;
	border-radius: 7px;
}
.timer > div {
	margin-inline: 7px;
}

.questions{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	padding: 0px;
	position: absolute;
	width: 181px;
	height: 254px;
	left: 20px;
	top: 5px;
}

.options{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 8px;
	width: 500px;
	height: 40px;
	background: #FFFBFB;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

#selected_option{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	gap: 12px;
	width: 171px;
	height: 40px;
	background: #1488CC;
	border-radius: 4px;
}

.pre_next{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	position: absolute;
	width: 184px;
	height: 48px;
	left: 200px;
	top: 450px;
}

.previousbtn{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;
	gap: 12px;
	width: 84px;
	height: 48px;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}

.nextbtn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px;
	gap: 12px;
	width: 84px;
	height: 48px;
	background: #1488CC;
	border-radius: 4px;
}




.examQuestion{
	/* margin-top: 20px; */
	width: 100%;
	background-color: #fafafa; /*#E5E5E5*/
	/* height: 400px; */
	/* border-radius: 20px; */
	/* padding: 10px 50px; */
	color: black;
}
  .examQuestion h2{
	font-size: 12px;
	color: black;
  }
  .examQuestion li{
	font-size: 1rem;
	padding: 5px 10px;
	border: 2px solid black;
	width: 300px;
	height: 38px;
	margin: 5px 0;
	display: flex;
	border-radius: 5px;
	/* justify-content: center; */
	align-items: center;
	color: black;
	background-color: white;
  }
  
  .nextBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: #65CF63;
	color: white;
	margin: 0 20px;
  }
  
  .prevBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: #1488CC;
	color: white;
  }
  .subBtn{
	height: 40px;
	width: 120px;
	border-radius: 5px;
	border: none;
	background-color: red;
	color: white; 
	margin: 0 20px;
  }